* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 990px;
    margin: auto;
    padding: 77px 0 144px 0;
}

.wrapper input[type=radio] {
    width: 16px;
    height: 16px;
}

.wrapper label:hover,
.wrapper input[type=submit] {
    cursor: pointer;
}

header h1 {
    font: 700 30px "Roboto Slab";
    color: #1f222c;
    text-align: center;
    margin: 0;
    margin-bottom: 70px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.inputs ul {
    list-style: none;
    padding: 0;
}

.inputs-left {
    min-width: 330px;
}

.inputs-left h2,
.inputs-right h2,
.elements h2,
.style-checkbox h2,
.table-form h2,
.table-form-two h2 {
    font: 700 20px "Roboto";
    text-transform: uppercase;
    color: #b3b3b3;
}

.inputs-left input,
.inputs-right input,
.inputs-left select {
    padding: 11.5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    font: 400 14px "Roboto";
    outline: none;
}

.inputs-left input:focus,
.inputs-right li:not(:nth-child(5), :last-child) input:focus,
.table-form input:not([type=radio]):focus,
.inputs-left textarea:focus,
.table-form textarea:focus,
.table-form-two table input:focus {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: none;
    border: 1px solid #3e6aff;
}

.inputs-left textarea {
    width: 100%;
    padding: 11.5px;
    max-width: 330px;
    min-height: 130px;
    max-height: 300px;
    resize: vertical;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font: 400 14px "Roboto";
    outline: none;
}

.inputs-left select,
.table-form select {
    appearance: none;
    background: 307px center url(../img/arrow.png) no-repeat;
}

.registration-button input,
.login-button input,
.table-form-two input[type=submit] {
    margin: 0;
    border-radius: 3px;
    border: none;
    background: #12d661;
    transition: all 0.3s ease;
    font: 700 14px "Roboto";
    color: #ffffff;
}

.registration-button input:hover,
.login-button input:hover,
.table-form-two input[type=submit]:hover {
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
}

.inputs-right {
    /* position: fixed; */
    min-width: 310px;
    top: 25.8%;
    right: 19.3%;
    z-index: 1;
}

.inputs-right ul {
    width: 100%;
    padding: 11px 11px 20px 25px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.inputs-right li:first-child label {
    display: block;
    margin-bottom: 25px;
    width: 10px;
    height: 10px;
    background: url(../img/sprite.png) no-repeat;
}

.inputs-right li:first-child label:hover {
    background: 0 -10px url(../img/sprite.png) no-repeat;
}

.inputs-right li:first-child input {
    margin: 0;
    width: 10px;
    height: 10px;
}

.inputs-right li:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputs-right li:first-child input:checked+ul {
    display: none;   
}

.inputs-right li:not(:first-child) input {
    padding: 9px;
    max-width: 260px;
    margin-bottom: 30px;
}

.inputs-right li:not(:first-child, :nth-child(2), :nth-child(5)) input {
    margin-bottom: 12px;
}

.inputs-right li:nth-child(4) a {
    margin-bottom: 12px;
    font: 400 13px "Roboto";
    color: #3e6aff;
    text-decoration: none;
}

.inputs-right li:nth-child(4) a:hover {
    text-decoration: underline;
}

.inputs-right li:nth-child(2),
.inputs-right li:nth-child(3),
.table-form-two td {
    position: relative;
}

.inputs-right li:nth-child(2) label,
.inputs-right li:nth-child(3) label,
.table-form-two td label {
    position: absolute;
    left: 0;
    top: -35%;
    font: 400 13px "Roboto";
    color: #b3b3b3;
}

.inputs-right li:nth-child(3) label {
    top: -45%;
}

.inputs-right ul li:nth-child(5) input {
    width: unset;
    margin: 4px 4px 14px 0px;
}

.inputs-right li:nth-child(5) label {
    font: 400 13px "Roboto";
    color: #1f222c;
}

.wrapper hr {
    margin: 50px 0;
    border: 1px solid #dcdcde;
}

.elements h2,
.style-checkbox h2,
.table-form-two h2 {
    margin: 50px 0 40px 0;
}

.elements-flex,
.left-elements form,
.right-elements ul {
    display: flex;
    justify-content: space-between;
}

.left-elements {
    min-width: 410px;
}

.left-elements ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.left-elements label {
    font: 400 14px "Roboto";
    color: #1f222c;
}

.right-elements {
    max-width: 474px;
}

.right-elements ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.right-elements {
    display: block;
    width: 473px;
    height: 114px;
    padding: 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.wrapper .down-ul {
    justify-content: start;
    align-items: center;
}

.down-ul input {
    padding: 10px;
    min-width: 148px;
    font: 400 14px "Roboto";
    color: #1f222c;
}

.wrapper .top-ul {
    margin-bottom: 15px;
    justify-content: start;
}

.wrapper .down-ul li:first-child {
    margin-right: 45px;
}

.wrapper .down-ul li:first-child,
.wrapper .top-ul li:first-child {
    font: 700 14px "Roboto";
    color: #b3b3b3;
}

.wrapper .top-ul li:first-child {
    margin-right: 30px;
}

.wrapper .top-ul li input {
    margin: 0;
    margin-right: 4px;
}

.wrapper .top-ul li label {
    color: #1f222c;
    font: 400 14px "Roboto";
}

.wrapper .top-ul li:not(:last-child) label {
    margin-right: 25px;
}

.wrapper li {
    position: relative;
}

.wrapper input[type=checkbox] {
    width: 16px;
    height: 16px;
    opacity: 0;
}

.wrapper footer input[type=checkbox] {
    margin-right: 10px;
}

.wrapper input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    top: 0;
    left: 0;
    transform: translateY(35%);
}

.wrapper main input[type=checkbox]+label::before {
    transform: translateY(15%);
}

.wrapper footer input[type=checkbox]+label::before {
    transform: translateY(15%);
    left: 10px;
}

.wrapper input[type=checkbox]:checked+label::before {
    border: 1px solid #244dd7;
}

.wrapper input[type=checkbox]:checked+label::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    top: 11px;
    left: 5px;
    border: 2px solid #244dd7;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(-45deg);
}

.wrapper footer input[type=checkbox]:checked+label::after {
    top: 8px;
    left: 14px;
}

.wrapper main input[type=checkbox]:checked+label::after {
    top: 7px;
}

.style-flex {
    display: flex;
    justify-content: space-between;
    max-width: 664px;
}

.style-checkbox ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper .style-checkbox input[type=radio] {
    width: 70px;
    height: 70px;
    opacity: 0;
    margin: 0 15px 0 0;
}

.men-radio {
    margin-bottom: 10px;
}

.wrapper .men-radio input[type=radio]+label::before {
    content: "";
    position: absolute;
    background: url(../img/men.png);
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.wrapper .women-radio input[type=radio]+label::before {
    content: "";
    position: absolute;
    background: url(../img/women.png);
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.wrapper .men-radio input[type=radio]:checked+label::before {
    content: "";
    position: absolute;
    background: url(../img/men-light.png);
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.wrapper .women-radio input[type=radio]:checked+label::before {
    content: "";
    position: absolute;
    background: url(../img/women-light.png);
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.style-checkbox ul li {
    display: flex;
    align-items: center;
}

.checkbox-left label {
    font: 700 16px "Roboto";
    color: #1f222c;
}

.checkbox-right label {
    font: 400 14px "Roboto";
    color: #1f222c;
}

.checkbox-right li:not(:last-child) {
    margin-bottom: 20px;
}

.checkbox-left input[type=radio]:checked+label {
    color: #3e6aff;
}

.wrapper .checkbox-right input[type=checkbox] {
    width: 45px;
    height: 25px;
    opacity: 0;
}

.wrapper .checkbox-right input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background: #cfcfd1;
    top: 0;
    left: 0;
    border: unset;
    transition: all 0.3s ease;
}

.wrapper .checkbox-right input[type=checkbox]:checked+label::before {
    background: #3e6aff;
}

.wrapper .checkbox-right input[type=checkbox]+label::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #ffffff;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.5));
    top: 6px;
    left: 2px;
    transform: rotate(0deg);
    border: unset;
    transition: all 0.3s ease;
}

.wrapper .checkbox-right input[type=checkbox]:checked+label::after {
    top: 6px;
    left: 22px;
}

.table-form td textarea {
    margin-bottom: 10px;
    padding: 11px;
    min-width: 340px;
    min-height: 130px;
    max-height: 400px;
    resize: vertical;
}

.table-form td input:not([type=radio], [type=file]) {
    margin-bottom: 10px;
    padding: 11px;
    min-width: 340px;
}

.table-form td select {
    margin-bottom: 17px;
    padding: 11px;
    min-width: 340px;
}

.table-form tr:not(:nth-child(4)) td:first-child {
    padding: 11px 0;
}

.table-form tr td:first-child label {
    margin-right: 80px;
}

.table-form tr td:first-child {
    font: 400 14px "Roboto";
    color: #1f222c;
}

.table-form td input[type=file] {
    display: none;
}

.table-form td input:not([type=radio], [type=submit]),
.table-form td textarea,
.table-form td select {
    outline: none;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.table-form textarea::placeholder,
.table-form input:not([type=submit]) {
    font: 400 14px "Roboto";
    color: #b3b3b3;
}

.wrapper .table-form td {
    vertical-align: top;
}

.select-file {
    display: inline-block;
    padding: 11px;
    margin-bottom: 10px;
    min-width: 170px;
    border-radius: 3px;
    background-color: #3e6aff;
    font: 700 14px "Roboto";
    color: #ffffff;
    text-align: center;
    transition: all 0.3s ease;
}

.select-file:hover {
    border-radius: 3px;
    filter: drop-shadow(0px 2px 2.5px rgba(15, 40, 126, 0.35));
    background-color: #2857f4;
}

.men-women td input {
    margin-bottom: 23px;
}

.table-form h2 {
    margin: 0;
    margin-bottom: 35px;
}

.table-form h3,
.table-form-two h3 {
    font: 400 18px "Roboto";
    color: #1f222c;
    margin: 0;
    margin-bottom: 25px;
}

.men-women label {
    font: 400 14px "Roboto";
    color: #1f222c;
}

.table-form-two tr:first-child td {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 30px;
}

.table-form-two tr:nth-child(2) td {
    padding: 44px 0 37px 0;
}

.table-form-two tr:nth-child(2) td label {
    top: 15%;
}

.table-form-two tr:nth-child(3) td label {
    top: -55%;
}

.table-form-two table input,
.table-form-two table select {
    padding: 11px 16px;
    min-width: 220px;
    margin-right: 0px;
    outline: none;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.table-form-two table select {
    appearance: none;
    background: 184px center url(../img/arrow-two.png) no-repeat;
}

.table-form-two form {
    width: 680px;
    margin: 0 -10px;
}

.table-form-two table {
    width: 100%;
    border-spacing: 10px;
}

.table-form-two h3 {
    margin: 0;
    margin-bottom: 40px;
}

.wrapper .adress input {
    padding: 11px;
    width: 100%;
}

.table-form-two input[type=submit],
.button {
    padding: 13px;
    min-width: 180px;
}

.button {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #85868d;
    font: 700 14px "Roboto";
    color: #6e6f77;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #85868d;
    color: #fff;
}

.down-buttons {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    position: relative;
}

.checkbox label {
    font: 400 14px "Roboto";
    color: #1f222c;
}